<!DOCTYPE html>
<html>
  <head>
    <title>Trav.es</title>
    <link href='/images/link.png' rel='shortcut icon' />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/text.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  </head>
  
  <body>
    <div id="container" class="container_12">
      <div id="header">
        <div id="logo"><a href="/"><img src="/images/logo_text.png" alt="Trav.es" /></a></div>
      </div>
      
      <div id="divider">
        <p>URL Shortener</p>
      </div>

      <%= yield %>
      
      <div id="footer">
        <p>
          Created by <a href="http://travisonrails.com">Travis Roberts</a>.
          &nbsp;
          <a href="javascript:void(location.href='http://trav.es/generate?address='+encodeURIComponent(location.href))" class="bookmarklet">Trav.es</a> bookmarklet (drag to your bookmark bar)
        </p>
      </div>
    </div>
    
    <script type="text/javascript">
      $(document).ready(function() {
        $(".bookmarklet").click(function() {
          alert("Drag this bookmarklet to your address bar to use it.");
          return false;
        })
      });
    </script>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16578815-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
