<!DOCTYPE html>
<html>
  <head>
    <title>Trav.es</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/text.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  </head>
  
  <body>
    <div id="container" class="container_12">
      <div id="header">
        <div id="logo"><a href="/"><img src="/images/logo_text.png" alt="Trav.es" /></a></div>
      </div>
      
      <div id="divider">
        <p>URL Shortener</p>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
